<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <br>
  <% if current_user.admin? %>
    <%= link_to t(".delete"), user, method: :delete, data: {confirm: t(".confirm")}, class: "btn" %>
  <% end %>
</li>
