default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: your'username
  password: your'pass
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: name_DB_development

test:
  <<: *default
  database: name_DB_test

production:
  <<: *default
  database: name_DB_production
  username: username
  password: pass
